<div class="resume-wrapper" *ngIf="isReady">
  <app-resume-header />

  <div class="resume-container">
    <app-resume-profile />

    <div class="container">
      <div class="resume-line-x"></div>
    </div>

    <app-resume-technologies [rows]="3" />

    <section class="resume-experience">
      <div class="container">
        <div class="row align-items-start">
          <div class="col col-lg-4 col-12 text-lg-end text-center order-lg-0 order-1">
            <app-resume-skills />
          </div>
          <div class="col col-lg-8 ps-lg-5 col-12 order-lg-1 order-0">
            <app-resume-timeline />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div [ngClass]="{ 'resume-background': true, 'resume-background--active': isReady }"></div>
