<div class="resume-wrapper" *ngIf="isReady">
  <app-resume-header />

  <div class="resume-container">
    <app-resume-profile />

    <div class="container">
      <div class="resume-line-x"></div>
    </div>

    <div class="resume-stack">
      <ng-container *ngFor="let icons of stackIcons; let index = index">
        <div [ngClass]="{ 'resume-slider': true, 'resume-slider--reverse': index === 1 }">
          <div class="resume-slider-group">
            <div class="resume-slider__icon" *ngFor="let icon of icons">
              <div class="resume-slider__icon__svg" [innerHTML]="icon.html"></div>
            </div>
          </div>
          <div aria-hidden="true" class="resume-slider-group">
            <div class="resume-slider__icon" *ngFor="let icon of icons">
              <div class="resume-slider__icon__svg" [innerHTML]="icon.html"></div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <section class="resume-experience">
      <div class="container">
        <div class="row align-items-start">
          <div class="col col-lg-4 col-12 text-lg-end text-center order-lg-0 order-1">
            <app-resume-skills />
          </div>
          <div class="col col-lg-8 ps-lg-5 col-12 order-lg-1 order-0">
            <app-resume-timeline />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div [ngClass]="{ 'resume-background': true, 'resume-background--active': isReady }"></div>
