@use 'bootstrap/scss/mixins/color-mode' as *;

@import 'app';

.resume-wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.resume-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-image: url('/assets/images/background-glow.svg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;
  transform: translateY(-100%);
  animation: show-glow 3s ease-out forwards;

  @keyframes show-glow {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.resume-pdf-container {
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.resume-line-x {
  height: 3px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3rem;
  background: var(--bs-gradient);
  transition: 1s background-color ease;
  position: relative;
}

.resume-container {
  margin: 0 auto;
}

.resume-stack {
  --slider-gap: 2rem;
  --slider-duration: 60s;
  --slider-scroll-start: 0;
  --slider-scroll-end: calc(-100% - var(--slider-gap));

  @include media-breakpoint-down(xl) {
    --slider-gap: 1.5rem;
  }

  @include media-breakpoint-down(lg) {
    --slider-gap: 1rem;
  }

  @include media-breakpoint-down(md) {
    --slider-gap: 0.5rem;
  }

  display: flex;
  flex-direction: column;
  gap: var(--slider-gap);
  margin: 4rem var(--slider-gap) 3rem;
  width: 90%;
  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}

.resume-slider {
  &--reverse .resume-slider-group {
    animation-direction: reverse;
    animation-delay: -3s;
  }

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--slider-gap);
  position: relative;

  &__icon {
    display: grid;
    place-items: center;
    width: 10rem;
    fill: var(--color-gray);
    background-color: var(--color-strong);
    aspect-ratio: 3/2;
    border-radius: 0.5rem;
    @include transitions(fill, background-color);

    @include media-breakpoint-down(xl) {
      width: 8rem;
    }

    @include media-breakpoint-down(md) {
      width: 5rem;
    }

    &__svg {
      width: 3rem;
      height: 3rem;

      @include media-breakpoint-down(xl) {
        width: 2.5rem;
        height: 2.5rem;
      }

      @include media-breakpoint-down(md) {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }
}

.resume-slider-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--slider-gap);
  min-width: 100%;
  animation: scroll-x var(--slider-duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .resume-slider-group {
    animation-play-state: paused;
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--slider-scroll-start));
  }
  to {
    transform: translateX(var(--slider-scroll-end));
  }
}
