@if (technology()) {
  <div
    [ngClass]="{
      'resume-slider-item': true,
      'resume-slider-item--ready': isIconLoaded(),
      'resume-slider-item--loading': !isIconLoaded()
    }"
  >
    @if (isIconLoaded()) {
      <div class="resume-slider-icon">
        @if (hasIconError()) {
          <span class="resume-slider-icon__fallback">{{ fallbackLabel() }}</span>
        } @else {
          <img [attr.src]="iconSrc()" [attr.alt]="technology()?.name" />
        }
      </div>
      <div class="resume-slider-name">{{ technology()?.name }}</div>
    }
  </div>
}
