@import '../../../scss/app';

$header-height: 54px;

.resume-header-spacer {
  width: 100%;
  height: $header-height;
}

.resume-header {
  --header-backdrop: #{blur(0.75rem)};

  z-index: 99;
  position: fixed;
  left: 0;
  top: -#{$header-height};
  right: 0;
  width: 100%;
  height: $header-height;
  backdrop-filter: var(--header-backdrop);
  -webkit-backdrop-filter: var(--header-backdrop);
  will-change: backdrop-filter;
  transform: translateZ(0);
  contain: layout;

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    background-image: url('/assets/images/background-glow.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.75;
    transition: 0.3s all ease;
  }

  &__background {
    transition: opacity 0.3s ease;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
  }

  &--ready {
    animation: show-header 1s ease-in-out forwards;

    @keyframes show-header {
      from {
        top: -#{$header-height};
      }
      to {
        top: 0;
      }
    }
  }

  .navbar-background {
    position: relative;
    z-index: 1;
  }
}

.btn-lang {
  width: 2.25rem;
}

.resume-vr {
  height: 1.5rem;
  width: 1px;
  mix-blend-mode: lighten;
  background: rgba(#fff, 0.25);
  margin: 0 0.75rem;
}
