@import 'app';

.resume-wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.resume-background {
  position: absolute;
  left: 0;
  top: -100%;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-image: url('/assets/images/background-glow.svg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;

  &--active {
    animation: show-glow 3s ease-out forwards;

    @keyframes show-glow {
      from {
        opacity: 0;
        top: -100%;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }
  }
}

.resume-pdf-container {
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}
