<div class="resume-position">
  @if (position()) {
    <div appHoverClass="resume-position__date--active" class="resume-position__date">
      <div [ngClass]="{ 'date-end': true, 'date-current': position().date.to === 'present' }">
        <span class="date-translated">{{ translatedDate(position().date.to) }}</span>
        <span class="date-formatted">
          @if (position().date.to === 'present') {
            {{ 'DATE.PRESENT' | translate }}
          }
          @if (position().date.to !== 'present') {
            {{ position().date.to }}
          }
        </span>
      </div>
      <div class="date-start">
        <span class="date-translated">{{ translatedDate(position().date.from) }}</span>
        <span class="date-formatted">{{ position().date.from }}</span>
      </div>
    </div>
  }
  <div [ngStyle]="nextPositionStyle()" class="resume-position__dot">
    <i></i>
  </div>
  <div class="resume-position__title">
    <div class="resume-position__title__head">{{ position().name[currentLanguage] }}</div>
    <p>{{ position().description[currentLanguage] }}</p>
    @if (position().technologies) {
      <ul class="resume-position__title__stack">
        @for (tech of position().technologies; track techIndex; let techIndex = $index) {
          @if (tech?.name) {
            <li
              [ngClass]="{
                visible: shouldShowAllTechnologies() || techIndex + 1 <= TECHNOLOGIES_DISPLAYED,
                hidden: !shouldShowAllTechnologies() && techIndex + 1 > TECHNOLOGIES_DISPLAYED
              }"
              [ngStyle]="{
                'animation-delay':
                  shouldShowAllTechnologies() && techIndex + 1 > TECHNOLOGIES_DISPLAYED
                    ? (techIndex + 1 - TECHNOLOGIES_DISPLAYED) * 50 + 'ms'
                    : null
              }"
            >
              {{ tech.name }}
            </li>
          }
        }
        @if (
          !shouldShowAllTechnologies() && position().technologies.length > TECHNOLOGIES_DISPLAYED
        ) {
          <li (click)="showAllTechnologies()" class="show-more">
            + {{ position().technologies.length - TECHNOLOGIES_DISPLAYED }}
          </li>
        }
      </ul>
    }
  </div>
</div>
