<h2 class="resume-soft">{{ 'HEAD.EXPERIENCE' | translate }}</h2>

<div class="resume-timeline">
  @for (experience of experiences(); track experience.company.id; let experienceIndex = $index) {
    @if (experience.company) {
      <div [ngStyle]="experience.company.style" class="resume-timeline__company">
        <div class="resume-timeline__logo">
          <div [innerHTML]="experience.company.companyLogoContent" class="company-color"></div>
        </div>
        <div
          [ngClass]="{
            'resume-timeline__dot': true,
            'resume-timeline__dot--first': experienceIndex === 0
          }"
        >
          <i [ngStyle]="{ '--animation-delay': 400 * experienceIndex + 'ms' }"></i>
        </div>
        <div class="resume-timeline__name">
          <span>
            {{ experience.company.name }}
            <span class="resume-timeline__name__location">
              {{ 'CITY_FROM.' + experience.company.location.city | uppercase | translate }}
            </span>
          </span>
          <em>{{ calculateDatePeriod(experience) }}</em>
        </div>
        @for (
          position of experience.positions;
          track position.date.from + '-' + position.date.to + '-' + $index;
          let positionIndex = $index
        ) {
          <app-resume-timeline-position
            [nextPositionStyle]="computeNextPositionStyle(experienceIndex, positionIndex)"
            [position]="position"
          />
        }
      </div>
    }
  }
</div>
