<h2 class="resume-soft">{{ 'HEAD.EXPERIENCE' | translate }}</h2>

<div class="resume-timeline">
  <ng-container *ngFor="let experience of displayedExperiences; let experienceIndex = index">
    <div
      class="resume-timeline__company"
      *ngIf="experience?.company"
      [ngStyle]="experience.company.style"
    >
      <div class="resume-timeline__logo">
        <div class="company-color" [innerHTML]="experience.company.companyLogoContent"></div>
      </div>
      <div
        [ngClass]="{
          'resume-timeline__dot': true,
          'resume-timeline__dot--first': experienceIndex === 0
        }"
      >
        <i [ngStyle]="{ '--animation-delay': 400 * experienceIndex + 'ms' }"></i>
      </div>
      <div class="resume-timeline__name">
        <span>
          {{ experience.company.name }}
          <span class="resume-timeline__name__location">
            {{ 'CITY_FROM.' + experience.company.location.city | uppercase | translate }}
          </span>
        </span>
        <em>{{ calculateDatePeriod(experience) }}</em>
      </div>

      <ng-container *ngFor="let position of experience.positions; let positionIndex = index">
        <div class="resume-timeline__date" appHoverClass="resume-timeline__date--active">
          <div [ngClass]="{ 'date-end': true, 'date-current': position.date.to === 'present' }">
            <span class="date-translated">{{ translatedDate(position.date.to) }}</span>
            <span class="date-formatted">
              <ng-container *ngIf="position.date.to === 'present'">
                {{ 'DATE.PRESENT' | translate }}
              </ng-container>
              <ng-container *ngIf="position.date.to !== 'present'">
                {{ position.date.to }}
              </ng-container>
            </span>
          </div>
          <div class="date-start">
            <span class="date-translated">{{ translatedDate(position.date.from) }}</span>
            <span class="date-formatted">{{ position.date.from }}</span>
          </div>
        </div>
        <div
          class="resume-timeline__dot"
          [ngStyle]="computeNextPositionStyle(experienceIndex, positionIndex)"
        >
          <i></i>
        </div>
        <div class="resume-timeline__position">
          <h4>{{ position.name[currentLanguage] }}</h4>
          <p>{{ position.description[currentLanguage] }}</p>
          <ul class="resume-timeline__position__stack">
            <li
              *ngFor="
                let tech of calculateTechnologies(position.technologies);
                let techIndex = index
              "
            >
              {{ tech.name }}
            </li>
            <li *ngIf="position.technologies.length > TECHNOLOGIES_DISPLAYED">
              + {{ position.technologies.length - TECHNOLOGIES_DISPLAYED }}
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<button class="btn btn-outline-light btn-show-more btn-sm" (click)="toggleShowMore()">
  {{
    showMore
      ? ('BUTTON.LESS' | translate)
      : ('BUTTON.MORE' | translate) + ' (' + remainingExperiencesCount + ')'
  }}
</button>
