@use 'sass:math';

@import 'app';

.resume-timeline {
  $logo-size: 75px;
  $position-size: 1.5rem;
  $line-gap-col: 1.5rem;
  $line-gap-row: 2rem;

  display: grid;
  row-gap: $line-gap-row;
  column-gap: $line-gap-col;
  grid-template-columns: auto auto 1fr;

  @include media-breakpoint-down(lg) {
    row-gap: math.div($line-gap-row, 1.5);
    column-gap: math.div($line-gap-col, 1.5);
  }

  &__company {
    // Timeline dot size
    --dot-size: 10px;
    --company-line-c-next: var(--company-line-c);
    @include transitions(color);

    display: contents;

    & *::selection {
      color: var(--company-text-c);
      background: var(--company-text-b);
    }
  }

  &__logo {
    width: rfs-value($logo-size);
    height: rfs-value($logo-size);
    box-sizing: border-box;

    .company-color {
      width: 100%;
      height: 100%;
      background: var(--company-logo-b);
      color: var(--company-logo-c);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__dot {
    --company-line-b: linear-gradient(
      to bottom,
      var(--company-line-c) 40%,
      var(--company-line-c-next)
    );

    display: flex;
    align-items: flex-start;
    justify-self: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    width: calc(var(--dot-size) * 1.5);

    // Line
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: math.div($position-size, 2);
      transform: translateX(-50%);
      width: var(--company-line-s);
      height: calc(100% + $logo-size);
      background: var(--company-line-b);
    }

    // Dot
    i {
      box-sizing: border-box;
      display: block;
      width: var(--dot-size);
      height: var(--dot-size);
      position: absolute;
      left: 50%;
      top: math.div($position-size, 2);
      transform: translate(-50%, -50%);
      z-index: 1;

      &::before {
        content: '';
        display: block;
        width: var(--dot-size);
        height: var(--dot-size);
        border-radius: 50%;
        background: var(--company-line-c);
        border: 1px solid var(--company-line-c);
      }

      &::after {
        content: '';
        display: block;
        width: var(--dot-size);
        height: var(--dot-size);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        background: var(--company-line-c);
        z-index: -1;
        border-radius: 50%;
        opacity: 0;
      }
    }
  }

  &__logo + &__dot {
    --dot-size: 16px;

    &:after {
      top: 50%;
      height: calc(100% + math.div($line-gap-row, 2));
    }

    i {
      top: 50%;
      transform: translate(-50%, -50%);

      --company-dot-animation-delay: 0.3s;
    }
  }

  &:not(&--pdf) &__logo + &__dot i::after {
    animation: dot-pulse 3s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: var(--company-dot-animation-delay);

    @keyframes dot-pulse {
      25%,
      75% {
        opacity: 0.1;
      }
      to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
      }
    }
  }

  &__name {
    font-family: $font-head;
    font-weight: 800;
    @include font-size($position-size * 1.125);
    align-self: center;
    line-height: 2rem;
    position: relative;

    @include media-breakpoint-down(lg) {
      @include font-size(1.5rem);
    }

    > span {
      display: block;
      position: relative;
      top: 0.125rem;
    }

    em {
      font-family: $font-base;
      font-weight: 400;
      position: absolute;
      left: 0;
      top: 100%;
      display: block;
      @include font-size(1rem);
      color: var(--color-gray);
      @include transitions(color);

      @include media-breakpoint-down(lg) {
        @include font-size(0.875rem);
      }
    }

    &__location {
      font-weight: 400;
      @include font-size($position-size - 0.125rem);
      color: var(--color-gray);
      @include transitions(color);
    }
  }

  &__date {
    font-family: $font-condensed;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.025rem;
    color: var(--color-gray);
    @include transitions(color);
    line-height: 1;

    @include font-size(1rem);

    @include media-breakpoint-down(lg) {
      @include font-size(0.875rem);
    }

    .date-formatted {
      display: block;
      width: 150%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      @include transitions(opacity);
      white-space: nowrap;
    }

    .date-translated {
      display: block;
      opacity: 1;
      @include transitions(opacity);
      white-space: nowrap;
    }

    &--active {
      .date-formatted {
        opacity: 1;
      }

      .date-translated {
        opacity: 0;
      }
    }
  }

  .date-start {
    position: relative;
  }

  .date-end {
    font-weight: 600;
    margin-bottom: 0.75rem;
    position: relative;
  }

  .date-current {
    opacity: 1;
    @include font-size(1.126rem);

    @include media-breakpoint-down(lg) {
      @include font-size(1rem);
    }
  }

  &__position {
    h4 {
      @include font-size($position-size);
      font-family: $font-head;
      display: block;
      line-height: 1;
      font-weight: 800;
      position: relative;
      margin-bottom: 1rem;

      @include media-breakpoint-down(lg) {
        @include font-size($position-size - 0.25rem);
      }
    }

    p {
      @include font-size($font-text-size);
      @include rfs($font-text-line, line-height);
      font-weight: 400;
      font-style: italic;
      text-align: justify;
      margin-bottom: 1rem;

      @include media-breakpoint-down(lg) {
        @include font-size(1rem);
      }
    }

    &__stack {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      list-style: none;
      gap: 0.5rem;
      line-height: 0.75rem;

      li {
        display: inline-flex;
        @include transitions(border-color, color);
        border: 1px solid var(--bs-secondary-bg);
        color: var(--color-gray);
        min-width: 3rem;
        text-align: center;
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 0.25rem;
        line-height: 1;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.resume-soft {
  @include transitions(color);
  font-family: $font-head;
  font-weight: 900;
  @include font-size($font-h2-size);
  @include rfs($font-h2-line, line-height);
  margin-block-start: 0.6875rem;
  margin-block-end: 2.5rem;
}

.btn-show-more {
  margin-left: 9rem;
  margin-bottom: 2rem;
}
