@import '../../../scss/app';

$pdf-background: #fff;
$pdf-color: #000;

.resume-pdf {
  --color: #{$pdf-color};
  --bs-body-color: var(--color-1);
  --resume-bar-color: var(--brand-gradient);
  --resume-bar-background: #{$body-light-bg-darken};
  --company-line-c: var(--color);
  --color-line-size: 2px;

  color: $pdf-color;
  background-color: $pdf-background;

  .resume-hello {
    color: var(--color-3);
  }

  .resume-picture {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      z-index: 0;
      transform: translateX(-50%);
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      transition: height 0.3s ease-in-out;
    }
  }
}
