<div class="resume-technologies">
  @for (group of technologies(); track group; let index = $index) {
    <div
      [ngClass]="{ 'resume-slider': true, 'resume-slider--reverse': index === 1 }"
      [ngStyle]="{ '--slider-duration': 60 + index * 5 + 's' }"
    >
      <div class="resume-slider-group">
        @for (technology of group; track technology) {
          <app-resume-technology-item [technology]="technology" />
        }
      </div>
      <div class="resume-slider-group" aria-hidden="true">
        @for (technology of group; track technology) {
          <app-resume-technology-item [technology]="technology" />
        }
      </div>
    </div>
  }
</div>
