@use 'bootstrap/scss/mixins/breakpoints' as *;

@import 'app';

.resume-technologies {
  --slider-gap: 2rem;
  --slider-duration: 60s;
  --slider-scroll-start: 0;
  --slider-scroll-end: calc(-100% - var(--slider-gap));

  @include media-breakpoint-down(xl) {
    --slider-gap: 1.5rem;
  }

  @include media-breakpoint-down(lg) {
    --slider-gap: 1rem;
  }

  @include media-breakpoint-down(md) {
    --slider-gap: 0.5rem;
  }

  display: flex;
  flex-direction: column;
  gap: var(--slider-gap);
  margin: 4rem var(--slider-gap) 3rem;
  width: 90%;
  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}

.resume-slider {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--slider-gap);
  position: relative;

  &:nth-child(even) .resume-slider-group {
    animation-direction: reverse;
  }

  &:nth-child(3) {
    animation-delay: 2s;
  }
}

.resume-slider-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--slider-gap);
  min-width: 100%;
  animation: scroll-x var(--slider-duration) linear infinite;

  @keyframes scroll-x {
    from {
      transform: translateX(var(--slider-scroll-start));
    }
    to {
      transform: translateX(var(--slider-scroll-end));
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .resume-slider-group {
    animation-play-state: paused;
  }
}
