@use 'sass:color';
@import 'app';

// Fonts
@import 'scss/fonts';

//Layout & components
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/navbar';

// Helpers
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';

// Icons
@import 'bootstrap-icons/font/bootstrap-icons';

@property --bs-body-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #{$color-white};
}

@property --bs-body-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: #{$color-dark};
}

@property --color-preload-1 {
  syntax: '<color>';
  inherits: true;
  initial-value: #{color.adjust($body-bg-dark, $lightness: 2%)};
}

@property --color-preload-2 {
  syntax: '<color>';
  inherits: true;
  initial-value: #{color.adjust($body-bg-dark, $lightness: 4%)};
}

@property --resume-header-bg {
  syntax: '<color>';
  inherits: true;
  initial-value: #{$body-secondary-bg-dark};
}

@property --resume-bar-background {
  syntax: '<color>';
  inherits: true;
  initial-value: #242424;
}

@property --resume-hello-stroke-from {
  syntax: '<color>';
  inherits: true;
  initial-value: #9ac5c3;
}

@property --resume-hello-stroke-to {
  syntax: '<color>';
  inherits: true;
  initial-value: #2a9b91;
}

@property --resume-bar-color {
  syntax: '<image>';
  inherits: true;
  initial-value: linear-gradient(135deg, #2a9b91, #02605c);
}

:root {
  --color-black: #{$color-black};
  --color-gray: #{$color-gray};
  --color-white: #{$color-white};

  --color-dark: #{$color-dark};
  --color-brand-dark: #{$color-brand-dark};
  --color-brand: #{$color-brand};
  --color-brand-light: #{$color-brand-light};
  --color-light: #{$color-light};

  --resume-transition-speed: 0.35s;
  --resume-transition-type: ease;

  --bs-gradient: linear-gradient(135deg, var(--bs-primary), var(--bs-secondary));

  --company-line-s: 3px;
  --company-logo-b: var(--bs-body-bg);
  --company-logo-c: var(--bs-body-color);
  --company-text-b: var(--bs-body-color);
  --company-text-c: var(--bs-body-bg);
  --resume-header-bg: #{$body-secondary-bg-dark};

  transition:
    --bs-body-color-1 var(--resume-transition-speed) var(--resume-transition-type),
    --bs-body-bg var(--resume-transition-speed) var(--resume-transition-type),
    --color-preload-1 var(--resume-transition-speed) var(--resume-transition-type),
    --color-preload-2 var(--resume-transition-speed) var(--resume-transition-type),
    --resume-header-bg var(--resume-transition-speed) var(--resume-transition-type),
    --resume-bar-color var(--resume-transition-speed) var(--resume-transition-type),
    --resume-bar-background var(--resume-transition-speed) var(--resume-transition-type),
    --resume-hello-stroke-from var(--resume-transition-speed) var(--resume-transition-type),
    --resume-hello-stroke-to var(--resume-transition-speed) var(--resume-transition-type);
}

@include color-mode(dark, true) {
  --resume-header-bg: #{$body-secondary-bg-dark};
  --color-preload-1: #{color.adjust($body-bg-dark, $lightness: 2%)};
  --color-preload-2: #{color.adjust($body-bg-dark, $lightness: 4%)};
  --resume-bar-color: var(--bs-gradient);
  --resume-bar-background: var(--bs-secondary-bg);
  --resume-hello-stroke-from: var(--color-brand-light);
  --resume-hello-stroke-to: var(--color-brand);
}

@include color-mode(light, true) {
  --resume-header-bg: #{$body-secondary-bg};
  --color-preload-1: #{color.adjust($body-bg, $lightness: -3%)};
  --color-preload-2: #{color.adjust($body-bg, $lightness: -5%)};
  --resume-bar-color: var(--bs-gradient);
  --resume-bar-background: var(--bs-secondary-bg);
  --resume-hello-stroke-from: var(--color-brand-dark);
  --resume-hello-stroke-to: var(--color-brand);
}

::selection {
  color: var(--color-white);
  background: var(--color-brand-dark);
}

html,
body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--bs-body-bg);
    border: 1px solid var(--bs-highlight-color);
    border-top: 0;
    border-bottom: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, var(--bs-primary), var(--bs-secondary) 85%);
    outline: none;
  }
}

.link-scale {
  @include transitions(transform);

  &:hover {
    transform: rotate(5deg) scale(1.2);
  }
}

.btn-show-more {
  margin: 2rem 0;
}
