@font-face {
  font-family: 'futura-pt-condensed';
  src:
    url('../assets/fonts/futura-pt-condensed-500-italic.woff2') format('woff2'),
    url('../assets/fonts/futura-pt-condensed-500-italic.woff') format('woff'),
    url('../assets/fonts/futura-pt-condensed-500-italic.otf') format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'futura-pt-condensed';
  src:
    url('../assets/fonts/futura-pt-condensed-700-italic.woff2') format('woff2'),
    url('../assets/fonts/futura-pt-condensed-700-italic.woff') format('woff'),
    url('../assets/fonts/futura-pt-condensed-700-italic.otf') format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'stolzl';
  src:
    url('../assets/fonts/stolzl-500.woff2') format('woff2'),
    url('../assets/fonts/stolzl-500.woff') format('woff'),
    url('../assets/fonts/stolzl-500.otf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'stolzl';
  src:
    url('../assets/fonts/stolzl-700.woff2') format('woff2'),
    url('../assets/fonts/stolzl-700.woff') format('woff'),
    url('../assets/fonts/stolzl-700.otf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'poppins';
  src:
    url('../assets/fonts/poppins-400-italic.woff2') format('woff2'),
    url('../assets/fonts/poppins-400-italic.woff') format('woff'),
    url('../assets/fonts/poppins-400-italic.otf') format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'poppins';
  src:
    url('../assets/fonts/poppins-400.woff2') format('woff2'),
    url('../assets/fonts/poppins-400.woff') format('woff'),
    url('../assets/fonts/poppins-400.otf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'poppins';
  src:
    url('../assets/fonts/poppins-500-italic.woff2') format('woff2'),
    url('../assets/fonts/poppins-500-italic.woff') format('woff'),
    url('../assets/fonts/poppins-500-italic.otf') format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'poppins';
  src:
    url('../assets/fonts/poppins-500.woff2') format('woff2'),
    url('../assets/fonts/poppins-500.woff') format('woff'),
    url('../assets/fonts/poppins-500.otf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'elza';
  src:
    url('../assets/fonts/elza-600-italic.woff2') format('woff2'),
    url('../assets/fonts/elza-600-italic.woff') format('woff'),
    url('../assets/fonts/elza-600-italic.otf') format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}
