// Mixin to generate a single @font-face
// $font-family: Name of the font family
// $font-url: URL to the directory containing the font files
// $font-name: Name of the font file
// $font-weight: Weight of the font
// $font-style: Style of the font (default is normal)

@mixin font-src(
  $font-family,
  $font-url,
  $font-name,
  $font-weight,
  $font-style: normal,
  $font-target: 'web'
) {
  @font-face {
    font-family: $font-family;
    // Combines $font-url and $font-name to form the full path
    @if ($font-target == 'web') {
      src:
        url('#{$font-url}#{$font-name}.woff2') format('woff2'),
        url('#{$font-url}#{$font-name}.woff') format('woff');
    } @else if ($font-target == 'pdf') {
      src: url('#{$font-url}#{$font-name}.ttf') format('truetype');
    }
    font-display: swap;
    font-style: $font-style;
    font-weight: $font-weight;
    font-stretch: normal;
  }
}

// Mixin to generate a collection of @font-face rules
// $font: Map containing font family details and an array of font sources

@mixin addFontFace($font) {
  @each $src in map-get($font, src) {
    $font-style: if(map-has-key($src, style), map-get($src, style), normal);
    @include font-src(
      map-get($font, family),
      map-get($font, url),
      map-get($src, font),
      map-get($src, weight),
      $font-style
    );
  }
}

// Directory structure for fonts:
// Place your font files in the appropriate directory, e.g., /assets/fonts/{FontFamily}/
// Example usage of the addFontFace mixin to create @font-face collections

@include addFontFace(
  (
    family: 'Mulish',
    url: '/assets/fonts/Mulish/',
    target: 'web',
    src: (
      (font: 'Mulish-Black', weight: 900, style: normal),
      (font: 'Mulish-ExtraBold', weight: 800, style: normal),
      (font: 'Mulish-Bold', weight: 700, style: normal),
      (font: 'Mulish-SemiBold', weight: 600, style: normal),
      (font: 'Mulish-Medium', weight: 500, style: normal),
      (font: 'Mulish-Regular', weight: 400, style: normal)
    )
  )
);

@include addFontFace(
  (
    family: 'Poppins',
    url: '/assets/fonts/Poppins/',
    target: 'web',
    src: (
      (font: 'Poppins-Black', weight: 900, style: normal),
      (font: 'Poppins-BlackItalic', weight: 900, style: italic),
      (font: 'Poppins-ExtraBold', weight: 800, style: normal),
      (font: 'Poppins-ExtraBoldItalic', weight: 800, style: italic),
      (font: 'Poppins-Bold', weight: 700, style: normal),
      (font: 'Poppins-BoldItalic', weight: 700, style: italic),
      (font: 'Poppins-Medium', weight: 500, style: normal),
      (font: 'Poppins-MediumItalic', weight: 500, style: italic),
      (font: 'Poppins-Regular', weight: 400, style: normal),
      (font: 'Poppins-Italic', weight: 400, style: italic)
    )
  )
);

@include addFontFace(
  (
    family: 'Saira Semi Condensed',
    url: '/assets/fonts/SairaSemiCondensed/',
    target: 'web',
    src: (
      (font: 'SairaSemiCondensed-Bold', weight: 700, style: normal),
      (font: 'SairaSemiCondensed-SemiBold', weight: 600, style: normal)
    )
  )
);
