// Font sizes
$font-h1-size: 5.5rem;
$font-h1-line: $font-h1-size * 1.2;

$font-h2-size: 3.75rem;
$font-h2-line: $font-h2-size * 1.2;

$font-h3-size: 1.875rem;
$font-h3-line: $font-h3-size * 1.2;

$font-text-size: 1.125rem;
$font-text-line: $font-text-size * 2;

// Fonts
$font-base: 'Poppins', sans-serif;
$font-condensed: 'Saira Semi Condensed', sans-serif;
$font-head: 'Mulish', sans-serif;

// Bootstrap override fonts
$font-family-sans-serif: $font-base;
$input-btn-font-family: $font-base;
$headings-font-family: $font-head;
$display-font-family: $font-head;
$font-family-monospace: $font-condensed;

$color-black: #000;
$color-dark: #1a1a1a;
$color-brand-dark: #02605c;
$color-brand: #2a9b91;
$color-brand-light: #9ac5c3;
$color-light: #cbd4d9;
$color-white: #e8e8e8;
$color-7: #fff;
$color-gray: #8d8c89;

$glow-left: $color-gray;
$glow-right: $color-brand;

$primary: $color-brand;
$secondary: $color-brand-dark;

// Light bootstrap
$body-color: $color-dark;
$body-bg: $color-7;

$body-secondary-color: darken($body-color, 10%);
$body-secondary-bg: darken($body-bg, 10%);

$border-color: darken($body-bg, 15%);
$border-color-translucent: rgba($body-color, 0.15);
$link-color: $body-color;
$link-hover-color: $color-brand;
$navbar-light-hover-color: $link-hover-color;
$navbar-light-brand-hover-color: $link-hover-color;

// Dark bootstrap
$body-color-dark: $color-white;
$body-bg-dark: $color-dark;

$body-secondary-color-dark: lighten($body-color-dark, 10%);
$body-secondary-bg-dark: lighten($body-bg-dark, 5%);

$border-color-dark: lighten($body-bg-dark, 15%);
$border-color-translucent-dark: rgba($body-color-dark, 0.15);
$link-color-dark: $body-color-dark;
$link-hover-color-dark: $color-brand;
$navbar-dark-hover-color: $link-hover-color-dark;
$navbar-dark-brand-hover-color: $link-hover-color-dark;

// Bootstrap overrides
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px,
  xxl: 1500px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1260px,
  xxl: 1420px
);

// Bootstrap icons
$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts';
